<?xml version="1.0" standalone='no'?>
<service-group>
  <name replace-wildcards="no">shellypro3em-b827eb364242._http</name>


  <service>
    <type>_shelly._tcp</type>
    <port>2080</port>
    <host-name>shellyem3-485519d6XXXX.local</host-name>

    <txt-record>discoverable=true</txt-record>
    <txt-record>arch=esp8266</txt-record>
    <txt-record>app=shellyem3</txt-record>
    <txt-record>fw_version=1.0</txt-record>
    <txt-record>id=shellypro3em-b827eb364242</txt-record>
    <txt-record>fw_id=20230913-114244/v1.14.0-gcb84623</txt-record>
  </service>


  <service protocol="ipv4">
    <type>_shelly-rpc._udp</type>
    <port>2220</port>

    <txt-record>discoverable=true</txt-record>
    <txt-record>gen=2</txt-record>
    <txt-record>id=shellypro3em-b827eb364242</txt-record>
    <txt-record>app=shellyem3</txt-record>
    <txt-record>arch=esp8266</txt-record>
    <txt-record>fw_id=20250924-062729/1.7.1-gd336f31</txt-record>
    <txt-record>fw_version=1.0</txt-record>
  </service>
</service-group>

